<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Food</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>57</string>
			<key>green</key>
			<string>136</string>
			<key>blue</key>
			<string>224</string>
		</dict>
		<key>percentage</key>
		<string>40</string>
		<key>value</key>
		<string>£292.40</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Clothing</string>
		<key>percentage</key>
		<string>28</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>252</string>
			<key>green</key>
			<string>97</string>
			<key>blue</key>
			<string>93</string>
		</dict>
		<key>value</key>
		<string>£131.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Airlines</string>
		<key>percentage</key>
		<string>20</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>31</string>
			<key>green</key>
			<string>235</string>
			<key>blue</key>
			<string>193</string>
		</dict>
		<key>value</key>
		<string>£70.30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hotel</string>
		<key>percentage</key>
		<string>8</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>252</string>
			<key>green</key>
			<string>203</string>
			<key>blue</key>
			<string>62</string>
		</dict>
		<key>value</key>
		<string>£58.48</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Entertainment</string>
		<key>percentage</key>
		<string>4</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>128</string>
			<key>green</key>
			<string>143</string>
			<key>blue</key>
			<string>158</string>
		</dict>
		<key>value</key>
		<string>£29.12</string>
	</dict>
</array>
</plist>
